body {
    font-family: 'Krub', sans-serif;
}

:root {
    --green: #94EB9A;
    --yellow: #FFFF66;
    --gray: #EFEFEF;
    --darkergreen: #89D98E;
    --darkeryellow: #EDED64;
}

body {
    background: var(--gray);
}


img {
    max-width: 100%;
    height: 0 auto;
}

/* button-primary overwrite */
.btn-dark {
    background: var(--green);
    border: none;
}

.logo {
    max-height: 100px;
    margin: 0.5rem;
}

/* banner img styling */
#intro {
    background: url(../images/bg-shapes.png) no-repeat top center fixed;
    background-size: 100%;
    max-width: 100%;
}


/* card styling */
.card-img-top {
    width: 100%;
    object-fit: cover;
}


/* card styling shadow and hover effects */
.card {
    border-radius: 5px;
    background: #E3E3E3;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card-body {
    border-top: 1px solid var(--gray);
    height: 12rem;
}


.my-photo {
    width: 80%;
}

/* border for about section */
.about-me {
    border-top: solid 6px var(--yellow);
}

/* card tags styling */
.card-tags-1 {
    background: var(--green);
    border-radius: 3px;

}

.card-tags-2 {
    background: var(--yellow);
    border-radius: 3px;

}


/* contact */
textarea {
    resize: none;
}

.contact-icon {
    width: 100px;
    padding: 0.5rem;
}
