/* css vars */
:root {
    --black: #3C3B3A;
    --orange: #F75924;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--black);
}

body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

.wrapper {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--black);
}

a:hover {
    color: white;
}

a:active {
    color: var(--orange);
}

/* all images are 100% */
img {
    width: 100%;
    height: auto;
}

/* ----------------------
          NAV            
------------------------ */

/* center logo in flexbox and keep its max size */


.logo {
    max-width: 155px;
    height: 55px;
    align-self: center;
}


.nav-list {
    list-style: none;
    text-align: center;
    /* remove default padding */
    padding-left: 0;
}

.nav-list li {
    display: block;
    padding: 1rem;
    border-bottom: solid var(--black) 1px;

}

/* nav list animation */
.nav-list li:hover {
    color: white;
    background: var(--black);
    transition: 0.2s;
}

/* menu view mobile */
.main-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* center logo in flexbox */
.social-instagram {
    align-self: center;
}

.social-instagram:hover {
    fill: var(--orange);
}


/* ----------------------
         BANNER            
------------------------ */

/* keep text under banner-bg */
.banner-content {
    background: url(../images/banner-bg.svg) no-repeat top;
    padding-top: 35rem;
    text-align: center;
}

/* ---- button styling ---- */
.btn {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--black);
    background-color: white;
    border: 1px solid var(--black);
    text-align: center;
    border-radius: 3px;
}

.btn:hover {
    color: white;
    background-color: var(--black);
    transition: 0.2s;
}



/* ----------------------
         ABOUT         
------------------------ */


.store-banner {
    background: url(../images/red-white-shirt-beach.jpg) no-repeat;
    background-size: cover;
    padding: 4rem;
}


/* Animation to change colors of the image */
.sign {
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {
        fill: var(--black);
        transform: scale (1.5);
    }

    to {
        fill: var(--orange);
        transform: scale (1.5);
    }
}

/* ANIMATION FOR SVG */

/* ----------------------
         STYLE         
------------------------ */
.style img {
    width: 100%;
}



/* ----------------------
         FOOTER         
------------------------ */

.site-footer {
    background-color: var(--black);
}

.footer-content {
    color: white;
    text-align: center;
}

.footer-content li {
    display: block;
    padding: 0.5rem;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

.icons-footer svg {
    fill: white;
    padding: 0.5rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

h4 {
    font-weight: 400;
}







/* ===================================
         CONTACT STYLING 
======================================*/

.contact-content {
    padding: 1rem;
}

.social {
    border-top: 1px solid var(--black);
    padding-top: 1rem;
}

/* adding background img to banner */
.contact-banner {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7002457002457003) 0%, rgba(0, 0, 0, 0.7837837837837838) 100%), url(/images/banner-flash.svg) no-repeat;
    padding-top: 20rem;
    background-size: contain;
    text-align: center;
}

/* changing text color for mobile */
.contact-content h1,
h3 {
    color: white;
}


/* styling the form to create shadow and blur */
.contact-form {
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1.5rem;
    margin-bottom: 1rem;
}

/* styling contact form input fields */

input[type=text],
[type=email],
[type=tel] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 3px;
    background-color: #F4F4F5;
    border-style: none;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 3px;
    background-color: #F4F4F5;
    border-style: none;
    resize: none;
}

label {
    display: none;
}

.btn-form {
    border-radius: 3px;
    background-color: var(--orange);
    padding: 0.5rem 1rem 0.5rem 1rem;

}



/* ------- LOCATION --------- */
iframe {
    width: 100%;
    margin-bottom: 2rem;
}

/* ===================================
         GALLERY STYLING 
======================================*/

/* ----- BANNER ------- */

.gallery-banner {
    margin-top: 0.5rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7002457002457003) 0%, rgba(0, 0, 0, 0.7837837837837838) 100%), url(/images/banner-flash.svg) no-repeat;
    background-size: cover;
    padding: 4em;
}

.gallery-banner h1 {
    color: white;
    text-align: center;
}

/* ----- Merch ------ */

.collection img {
    max-width: 100%;
}

.merchandise h3 {
    color: var(--black);
}



/* --------------------------------
           TABLET                  
---------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* ------ NAV ------ */
    .nav-list {
        display: flex;
    }

    .nav-list li {
        border-bottom: none;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        padding: 1em;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);

    }



    /* --- HOME --- */

    .banner-content {
        margin-top: 3rem;
        background-size: contain;
        margin-bottom: 3rem;
        padding: 5rem 0 10rem 0;
        justify-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* --------about----------- */
    .about {
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
    }

    .about h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .sign {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        padding-left: 1rem;
    }

    /* ----- store ----- */
    .store-banner {
        margin-top: 1rem;
    }

    .cta-store {
        display: flex;
        justify-content: center;
    }

    /* ------ style ------ */
    .style {
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }

    .img1 {
        grid-row: 2 / span 3;
        align-self: end;
    }

    .img2 {
        padding-left: 1rem;
        width: 60%;
        justify-self: center;
    }

    .style h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .style p {
        padding-left: 1rem;
        grid-row: 2 / 3;
        margin-bottom: 0;
    }


    /* ------- footer -------- */
    .footer-content {
        padding-top: 5%;
        flex-direction: row;
        justify-content: space-around;
    }

    /* ---- CONTACT ----- */
    .contact-banner {
        padding-top: 0;
        background-size: cover;
        margin-bottom: 3rem;
        /* padding: 10rem 0 10rem 0; */
        justify-items: flex-start;
        text-align: center;
        display: flex;

    }

    .contact-content {
        margin: 1rem;

    }

    .contact-content h1 {
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.0);

    }

    .contact-form {
        margin: 1rem;
    }

    /* adding background style identical to contact form to improve readability */
    .social {
        border-top: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    /* ---- GALLERY ---- */

    /* banner new flash, fixing button width */
    .gallery-banner {
        text-align: center;
    }

    .gallery-banner .btn {
        display: inline-block;
    }

    /* setting up grid to make images the same size  */
    .designs-flash {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5rem;
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .collection img {
        width: 60%;
        justify-self: center;
    }

    /* gallery styling */

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .gallery img:nth-child(3) {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }


}

/* --------------------------------
           DESKTOP                 
---------------------------------- */
@media screen and (min-width: 1024px) {

    /* ------ NAV ------ */
    .nav-list {
        display: flex;
    }

    .nav-list li {
        border-bottom: none;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 0;

    }

    .banner-content {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3rem;
        background-size: 10% 90;
        background-position: center right;
        margin-bottom: 3rem;
        padding: 5rem 0 10rem 0;
        justify-items: center;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        align-self: flex-start;
    }

    /* --------about----------- */
    .about {
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
        column-gap: 1rem;
        grid-template-columns: 1.2fr 1fr;
    }

    .about h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .sign {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding-left: 0;
        max-width: 60%;
        align-self: center;
    }

    /* ----- store ----- */
    .store-banner {
        margin-top: 1rem;
        object-fit: scale-down;
        background-position: center;
        max-width: 100%;
        max-height: 100%;


    }

    .cta-store {
        display: flex;
        justify-content: center;

    }

    .cta-store a {
        width: 30%;
    }



    /* ------ style ------ */
    .style {
        display: grid;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
    }

    .img1 {
        grid-row: 2 / span 3;
        align-self: end;
    }

    .img2 {
        padding-left: 1rem;
        width: 60%;
        justify-self: center;
    }

    .style h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .style p {
        padding-left: 1rem;
        grid-row: 2 / 3;
        margin-bottom: 0;
    }


    /* ------- footer -------- */
    .footer-content {
        padding-top: 5%;
        flex-direction: row;
        justify-content: space-around;
    }

    /* ---- CONTACT ----- */
    .contact-banner {
        padding-top: 0;
        background-size: cover;
        margin-bottom: 3rem;
        justify-content: space-around;
        text-align: center;
        display: flex;
    }

    .contact-content {
        margin: 1rem;

    }

    .contact-content h1 {
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.0);

    }

    .contact-form {
        margin: 1rem;
        padding: 1rem 2rem 1rem 2rem;
    }

    /* adding background style identical to contact form to improve readability */
    .social {
        border-top: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        -webkit-backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    /* ----- Location ----- */
    .location {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .location h2 {
        grid-column: 1 / span 2;
    }

    /* ------ GALLERY ------------ */

    /* fix button width, padding to make banner larger */
    .gallery-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    /* changing background of h1 to match the glass style */
    .gallery-banner h1 {
        padding: 10%;
        margin-left: 10%;
        margin-right: 10%;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .gallery-banner .btn {
        align-self: center;
    }

    /* setting up grid to make images the same size  */
    .designs-flash {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5rem;
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .collection img {
        width: 60%;
        justify-self: center;
    }

    /* gallery styling */

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery img {
        width: 100%;
        height: 100%;
    }

    .gallery img:nth-child(4) {
        display: none;
    }



}