/* remove default margins and paddings */
body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-top: 0px;
}

/* assign max width for content */
.container {
    max-width: 1032px;
    margin: 0 auto;
    padding: 0.5em;
}

/* main colors of the website */
:root {
    --black: #3C3B3A;
    --orange: #F75924;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--black);
}

body {
    line-height: 1.5;
}

ul {
    padding-left: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

/* center entire page */
.wrapper {
    margin: 0 auto;
}


/* styling links in different states*/
a {
    text-decoration: none;
}

a:link,
a:visited {
    color: var(--black);
}

a:hover {
    color: white;
}

a:active {
    box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
    backdrop-filter: blur(3.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* making images responsive */
img {
    width: 100%;
    height: auto;
}

/* ----------------------
          NAV            
------------------------ */

/* center logo in flexbox and keep its max size */
/* settinf default size for the logo*/
.logo {
    max-width: 155px;
    height: auto;
    align-self: center;
    padding-top: 1em;
}

/* remove default list styles */
.nav-list {
    list-style: none;
    text-align: center;
    padding-left: 0;
}

/* make links full width for mobile */
.nav-list li {
    display: block;
    padding: 1rem;
    border-bottom: solid var(--black) 1px;

}

/* nav list animation */
.nav-list li:hover {
    color: white;
    background: var(--black);
    transition: 0.2s;
}

/* menu view mobile */
.main-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* center logo in flexbox */
.social-instagram {
    align-self: center;
}

.social-instagram:hover {
    fill: var(--orange);
}


/* ----------------------
         BANNER            
------------------------ */

/* keep text under banner-bg */
.banner-content {
    background: url(../images/banner-bg.svg) no-repeat top;
    padding-top: 35rem;
    text-align: center;
}

/* ---- button styling ---- */
.btn {
    display: block;
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--black);
    background-color: white;
    border: 1px solid var(--black);
    text-align: center;
    border-radius: 3px;
}

.btn:hover {
    color: white;
    background-color: var(--black);
    transition: 0.2s;
}


/* ----------------------
         ABOUT         
------------------------ */

/* setting background for banner */
.store-banner {
    background: url(../images/citymonster-cropped.jpg) no-repeat;
    background-size: cover;
    padding: 4rem;
}

/* ANIMATION FOR SVG */

/* Animation to change colors of the image */
.sign {
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {
        fill: var(--black);
        transform: scale (1.5);
    }

    to {
        fill: var(--orange);
        transform: scale (1.5);
    }
}


/* ----------------------
         FOOTER         
------------------------ */

/* setting background for bleed out edges */
.site-footer {
    background-color: var(--black);
}

.footer-content {
    padding: 0.5em;
    color: white;
    text-align: center;
}

/* make links full width */
.footer-content li {
    display: block;
    padding: 0.5rem;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.icons-footer svg {
    fill: white;
    padding: 0.5rem;
}

/* flex required to have footer content in a column for mobile */
.footer-content {
    display: flex;
    flex-direction: column;
}

/* add font weight to differentiate h4 from p */
h4 {
    font-weight: 400;
}

/* ===================================
         CONTACT STYLING 
======================================*/

.contact-content {
    padding: 1rem;
}

/* visual styling to separate content */
.social {
    border-top: 1px solid var(--black);
    padding-top: 1rem;
}

/* adding background img to banner and gradient for readability */
.contact-banner {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7002457002457003) 0%, rgba(0, 0, 0, 0.7837837837837838) 100%), url(/midterm/images/banner-flash.svg) no-repeat;
    padding-top: 20rem;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

/* changing text color for mobile */
.contact-content h1,
h3 {
    color: white;
}


/* styling the form to create shadow and blur */
/* padding required to make form stand out */
.contact-form {
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
    backdrop-filter: blur(3.5px);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 1.5rem;
    margin-bottom: 1rem;
}

/* styling contact form input fields */
input[type=text],
[type=email],
[type=tel] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 3px;
    background-color: #F4F4F5;
    border-style: none;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 3px;
    background-color: #F4F4F5;
    border-style: none;
    resize: none;
}

/* display proper font for your message placeholder */
::placeholder {
    font-family: 'Roboto', sans-serif;
}

/* stop labels from displaying, placeholder serves the purpose instead */
label {
    display: none;
}

/* additional styling for submit form button, smaller size, different color */
.btn-form {
    border-radius: 3px;
    background-color: var(--orange);
    padding: 0.5rem 1rem 0.5rem 1rem;

}

/* ------- LOCATION --------- */
iframe {
    width: 100%;
    margin-bottom: 2rem;
}

/* ===================================
         GALLERY STYLING 
======================================*/

/* ----- BANNER ------- */

/* setting up banner: graphics and gradient to improve readability */
.gallery-banner {
    margin-top: 0.5rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7002457002457003) 0%, rgba(0, 0, 0, 0.7837837837837838) 100%), url(/midterm/images/high-def-flash-sheet.svg) no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.gallery-content {
    padding: 4em;
}

/* add extra space to improve visual look */
.glr a {
    margin-bottom: 3rem;
}

/* color change required for readability */
.gallery-banner h1 {
    color: white;
    text-align: center;
}

/* ----- Merch ------ */

/* ----- ANIMATION ----- */

/* animation to draw attention to the user */
.collection img {
    max-width: 100%;
    animation: rotation 4s infinite ease-in-out alternate;
}

/* flip featured image */
@keyframes rotation {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(359deg);
    }
}

/* overwrite from color:white */
.merchandise h3 {
    color: var(--black);
}

/* align p to match the image */
.collection p {
    align-self: center;
}

/* --------------------------------
           TABLET                  
---------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* ------ NAV ------ */

    /* changing view of nav links to row */
    .nav-list {
        display: flex;
    }

    /* overwriting borders for TABLET & DESKTOP view */
    .nav-list li {
        border-bottom: none;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    /* style for H1 to make text readable in TABLET & DESKTOP */
    h1 {
        padding: 1em;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    /* --- HOME (ABOUT) --- */

    .banner-content {
        margin-top: 3rem;
        background-size: contain;
        margin-bottom: 3rem;
        padding: 5rem 0 10rem 0;
        justify-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* -------- about ----------- */
    /* using grid to change content layout */
    .about {
        display: grid;
    }

    .about h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .sign {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    /* ----- store ----- */

    /* repositioning background for TABLET view */
    .store-banner {
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-position: calc(100% - 20px) calc(100% + 550px);
    }

    .cta-store {
        display: flex;
        justify-content: center;
    }

    /* ------ style ------ */
    .style {
        display: grid;
        margin-bottom: 10%;
    }

    .img1 {
        grid-row: 2 / span 3;
        align-self: end;
    }

    .img2 {
        padding-left: 1rem;
        width: 60%;
        justify-self: center;
    }

    .style h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .style p {
        padding-left: 1rem;
        grid-row: 2 / 3;
        margin-bottom: 0;
    }


    /* ------- footer -------- */

    /* changing footer style for TABLET & DESKTOP */
    .footer-content {
        padding-top: 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    /* ---- CONTACT ----- */

    /* reorganizing content for TABLET */
    .contact-content {
        padding-top: 0;
        background-size: cover;
        margin-bottom: 3rem;
        text-align: center;
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas:
            "title form"
            "subtitle form"
            "social form";
    }

    .contact-content h1 {
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.0);
        grid-area: title;
    }

    .contact-content h3 {
        grid-area: subtitle;
    }

    .contact-form {
        grid-area: form;
        margin-bottom: 0;
    }

    /* adding background style identical to contact form to improve readability */
    .social {
        border-top: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        grid-area: social;
    }


    /* ---- GALLERY ---- */

    /* banner new flash, fixing button width */
    .gallery-banner {
        text-align: center;
    }

    /* made button NOT full width */
    .gallery-banner .btn {
        display: inline-block;
    }

    /* setting up grid to make images the same size  */
    .designs-flash {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5rem;
    }

    /* setting up grid for collection items to change view */
    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* img required to be scaled down */
    .collection img {
        width: 60%;
        justify-self: center;
    }

    /* gallery photos, collection view */
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    /* make 3rd image fit the grid */
    .gallery img:nth-child(3) {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }


}

/* --------------------------------
           DESKTOP                 
---------------------------------- */
@media screen and (min-width: 1024px) {

    /* ------ NAV ------ */

    /* changing view of nav links to row */
    .nav-list {
        display: flex;
    }

    /* overwriting borders for TABLET & DESKTOP view */
    .nav-list li {
        border-bottom: none;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    /* left position for banner content */
    .banner-content {
        margin-top: 3rem;
        background-size: 10% 90;
        background-position: center right;
        margin-bottom: 3rem;
        padding: 5rem 0 10rem 0;
        justify-items: center;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .btn {
        align-self: flex-start;
    }

    /* --------about----------- */

    /* using grid to change content layout */
    .about {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: 1.2fr 1fr;
    }

    .about h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .sign {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding-left: 0;
        max-width: 60%;
        align-self: center;
    }

    /* ----- store ----- */

    /* repositioning background img for DESKTOP, overwrite padding */
    .store-banner {
        padding-left: 0;
        padding-right: 0;
        margin-top: 1rem;
        background-position: center;
        max-width: 100%;
        max-height: 100%;
        background-position: 50% calc(60% + 400px);
    }

    .cta-store {
        display: flex;
        justify-content: center;

    }

    /* prevent button from stretching */
    .cta-store a {
        width: 30%;
    }

    /* ------ style ------ */
    .style {
        margin-top: 5%;
        display: grid;
        margin-bottom: 5%;
    }

    .img1 {
        grid-row: 2 / span 3;
        align-self: end;
    }

    .img2 {
        padding-left: 1rem;
        width: 60%;
        justify-self: center;
    }

    .style h2 {
        text-align: center;
        grid-column: 1 / span 2;
        grid-row: 1 / 2;
    }

    .style p {
        padding-left: 1rem;
        grid-row: 2 / 3;
        margin-bottom: 0;
    }


    /* ------- footer -------- */

    /* changing footer style for TABLET & DESKTOP */
    .footer-content {
        padding-top: 5%;
        flex-direction: row;
        justify-content: space-between;
    }

    /* ---- CONTACT ----- */

    .contact-banner {
        padding-top: 5%;
    }

    .contact-content {
        padding-top: 0;
        background-size: cover;
        margin-bottom: 3rem;
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1.5fr 1fr;
        grid-template-areas:
            "title form"
            "subtitle form"
            "social form";
        text-align: center;
    }

    .contact-content h1 {
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.0);
        grid-area: title;
    }

    .contact-content h3 {
        grid-area: subtitle;
    }

    .contact-form {
        grid-area: form;
        margin-bottom: 0;
    }

    /* adding background style identical to contact form to improve readability */
    .social {
        border-top: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    /* ----- Location ----- */
    .location {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .location h2 {
        grid-column: 1 / span 2;
    }

    .location p {
        margin-right: 1rem;
    }


    /* ------ GALLERY ------------ */

    /* fix button width, padding to make banner larger */
    .gallery-banner {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5%;
    }

    .gallery-content {
        padding: 0;
    }

    /* made button NOT full width */
    .gallery-banner .btn {
        display: inline-block;
    }

    /* changing background of h1 to match the glass style */
    .gallery-content h1 {
        padding: 10% 4% 10% 4%;
        background: rgba(255, 255, 255, 0.10);
        box-shadow: 0 8px 32px 0 rgba(83, 83, 83, 0.37);
        backdrop-filter: blur(3.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    /* designs styling */

    /* adding max-width to keep lines to the standard */
    .designs p {
        max-width: 700px;
    }

    /* setting up grid to make images the same size  */
    .designs-flash {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5rem;
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .collection img {
        width: 60%;
        justify-self: center;
    }

    /* gallery styling */

    /* grid set up for DESKTOP view using grid */
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 4rem;
    }

    .gallery img {
        width: 100%;
        height: 100%;
    }

    /* remove last image for stylistic choices in DESKTOP */
    .gallery img:nth-child(4) {
        display: none;
    }
}