/* css vars */
:root {
    --black: #3C3B3A;
    --orange: #F75924;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--black);
}

body {
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    line-height: inherit;
}

.wrapper {
    margin: 0 auto;
}

/* ----------------------
          NAV            
------------------------ */

/* center logo in flexbox and keep its max size */
.logo {
    max-width: 115px;
    height: 55px;
    align-self: center;
}

.nav-list {
    list-style: none;
    text-align: center;
    /* remove default padding */
    padding-left: 0;
}

.nav-list li {
    display: block;
    padding: 1rem;
    border-bottom: solid var(--black) 1px;

}

/* nav list animation */
.nav-list li:hover {
    color: white;
    background: var(--black);
    transition: 0.2s;
}

/* menu view mobile */
.main-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* center logo in flexbox */
.social-instagram {
    align-self: center;
}


/* ----------------------
         BANNER            
------------------------ */

/* keep text under banner-bg */
.banner-content {
    background: url(../images/banner-bg.svg) no-repeat top;
    padding-top: 35rem;
    text-align: center;
}

/* ---- button styling ---- */
.btn {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: var(--black);
    background-color: white;
    border: 1px solid var(--black);
    text-align: center;
}

.btn:hover {
    color: white;
    background-color: var(--black);
    transition: 0.2s;
}




/* ----------------------
         ABOUT         
------------------------ */


.store-banner {
    background: url(../images/red-white-shirt-beach.jpg) no-repeat;
    background-size: cover;
    padding: 4rem;
}

.sign {
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes fade {
    from {
        fill: var(--black);
        transform: scale (1.5);
    }

    to {
        fill: var(--orange);
        transform: scale (1.5);
    }
}

/* ANIMATION FOR SVG */

/* ----------------------
         STYLE         
------------------------ */
.style img {
    width: 100%;
}

.store-banner {
    width: 100%;
}

/* ----------------------
         FOOTER         
------------------------ */

.site-footer {
    background-color: var(--black);
}

.footer-content {
    color: white;
    text-align: center;
}

.footer-content li {
    display: block;
    padding: 1rem;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

.icons-footer svg {
    fill: white;
    padding: 0.5rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

h4 {
    font-weight: 400;
}

/* --------------------------------
           TABLET                  
---------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* ------ NAV ------ */
    .nav-list {
        display: flex;
    }

    .nav-list li {
        border-bottom: none;
    }

    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        background-color: rgba(255, 255, 255, 0.7);
        padding: 1em;
        box-shadow: 10px 10px 16px 0px rgba(199, 199, 199, 0.75);

    }

    .banner-content {
        margin-top: 3rem;
        background-size: 10% 90;
        margin-bottom: 3rem;
        padding: 5rem 0 10rem 0;
        justify-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* --------about----------- */
    .about {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .about h2 {
        grid-column: 1 / span 3;
        grid-row: 1 / 2;
    }

    .sign {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        padding-left: 1rem;
    }




    /* ------- footer -------- */
    .footer-content {
        flex-direction: row;
        justify-content: space-around;

    }



}