/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------
       Custom Styles            
-------------------------------- */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 5.063rem;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 24px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

::placeholder {
  font-size: 16px;
}

/* ----------------------------
            Mobile Styles 
-------------------------------*/
/* centering the page contents */
.container {
  margin: 0 auto;
  width: 95%;
}

.logo {
  max-width: 115px;
  margin: 1.5rem 2.3rem 1.5rem;
}

/* margins for h1 p */
.banner {
  margin: 1.5rem 2.3rem 1.5rem;
}

/* margins for main img */
.scooter {
  margin: 1.5rem 2.3rem 1.5rem;
}

/* form styling */
/* making form drop shadow & rounded corners */
form {
  /* max-width: auto; */
}

/* styling shadow for form */
.apply {
  background-color: white;
  border-radius: 11px;
  margin: 1.5rem 2.3rem 3rem;
  padding: 1.5rem;
  box-shadow: 9px 15px 20px rgb(194, 191, 191);
}

/* no labels for form items */
.label {
  display: none;
}

/* styling apply now form items */
input[type=text],
[type=email],
[type=tel] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 11px;
  background-color: #F4F4F5;
  border-style: none;
}

/* distance between checkbox and call-to-drive */
.checkbox {
  margin-bottom: 0.5rem;
}

/* increase size of checkbox */
input[type=checkbox] {
  transform: scale(1.75);

}

/* call to action */
/* changing style of a tag to make a button with rounded corners */
.call-to-drive {
  text-align: center;
  padding: 0.5rem;
  background-color: #57EEAB;
  border-radius: 0.5rem;

  /* padding to extend surg */
}

.call-to-drive a {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #333131;
  display: block;
  border-radius: 0.5rem;
}

/* link styling */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* extra hover state */
a:hover {
  color: white;
}

/* change color and hyperlink "Check application later" */
#check {
  color: #FF8480;
}

/* -------------------- FOOTER ------------------- */
.site-footer {
  background-color: #FFFD8C;
}

/* using flex to make form fit */
.footer-content {
  /* display: grid; */
  margin: 2rem 2.3rem 2rem;
  padding: 2rem 0 2rem;
}

/* call to action */
.call-to-calculate a {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0.3rem 1.5rem 0.3rem;
  background-color: #FF8480;
  color: white;
  border-radius: 10px;
  display: block;
}

.social svg {
  padding: 0.5rem;
}

/* making icons aligned with the rest of the form */
.social {
  display: flex;
  justify-content: space-evenly;
}

/* fixing calculate button */
.calculate {
  display: flex;
  flex-direction: column;
}

/* ---------------------------------
          Tablet Styling 
------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

  /* change margins for tablet */
  .logo {
    margin: 1.5rem 5rem 3rem;
  }

  .banner {
    margin: 1.5rem 5rem 3rem;
  }

  .scooter {
    margin: 1.5rem 5rem 3rem;
  }

  .footer-content {
    margin: 1.5rem 5rem 3rem;
  }

  .apply {
    margin: 1.5rem 5rem 3rem;
  }

  /* footer */
  /* changing position of form and calculate button */
  .calculate {
    flex-direction: row;
    justify-content: space-between;
  }

  .calculate div {
    padding-right: 0.5rem;
  }

  .calculate div:nth-child(2) {
    flex-grow: 1;
  }

  .social {
    justify-content: center;
  }

  .call-to-calculate a {
    display: block;
  }
}

/* --------------------------
      Desktop Styles       
---------------------------- */
@media screen and (min-width: 1024px) {

  /* FOOTER */
  /* changing layout of footer */
  .footer-content {
    display: flex;

    background: red;
    /* grid-template-columns: repeat(2, 1fr); */

  }

  .calculate {
    background-color: pink;
    flex-direction: row;

    justify-content: flex-start;
    /* grid-row: 2 / 3;
    grid-column: 1 / 2; */

  }



  .calculate div {
    padding-right: 0.5rem;
  }

  /* icons keep right */
  .social {
    width: 50%;
    justify-content: flex-end;
    align-items: center;

    /* grid-column: 2 / 3; */

  }


  .call-to-calculate a {
    display: block;
    margin: 0;
  }

  .calculate-social {
    display: grid;
  }



  main {

    display: flex;
    background-image: url(/landing-page-assignment/images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* margin: 1.5rem 8.75rem 1.5rem; */
  }



  .scooter {
    display: none;
    margin: 0;
  }

  .footer-content {
    /* margin: 1.5rem 8.75rem 1.5rem; */
  }


  /* main {
    display: flex;
    flex-direction: row;

  } */


}