/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------
       Custom Styles            
-------------------------------- */
/* default font styling */
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333131;
}

body {
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 5.063rem;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

::placeholder {
  font-size: 16px;
}

/* ----------------------------
            Mobile Styles 
-------------------------------*/
/* centering the page contents */
.container {
  margin: 0 auto;
}

.logo {
  max-width: 115px;
  margin: 1.5rem 2.3rem 1.5rem;
}

/* margins for h1 p */
.banner {
  margin: 1.5rem 2.3rem 1.5rem;
}

/* margins for main img */
.scooter {
  margin: 1.5rem 2.3rem 1.5rem;
}

/* styling shadow for form */
.apply {
  background-color: white;
  border-radius: 11px;
  margin: 1.5rem 2.3rem 3rem;
  padding: 1.5rem;
  box-shadow: 9px 15px 20px rgb(194, 191, 191);
}

/* no labels for form items */
.label {
  display: none;
}

/* styling apply now form input fields.  */
input[type=text],
[type=email],
[type=tel] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 13px;
  background-color: #F4F4F5;
  border-style: none;
}

/* distance between checkbox and call-to-drive */
.checkbox {
  margin-bottom: 0.5rem;
}

/* increase size of checkbox */
input[type=checkbox] {
  transform: scale(1.75);
}

/* call to action */
/* changing style of a tag to make a button with rounded corners */
.call-to-drive {
  text-align: center;
  padding: 0.5rem;
  background-color: #57EEAB;
  border-radius: 0.5rem;
}

/* changing text inside the button */
.call-to-drive a {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #333131;
  display: block;

}

/* link styling */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* extra hover state */
a:hover {
  color: white;
}

/* change color and hyperlink "Check application later" */
#check {
  color: #FF8480;
}

/* -------------------- FOOTER ------------------- */
.site-footer {
  background-color: #FFFD8C;
}

/* padding for footer-content to keep yellow background full width */
.footer-content {
  padding: 2rem 2.3rem 2rem;
}

/* call to action */
/* color and look of the button */
.call-to-calculate {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.3rem 2rem 0.3rem;
  background-color: #FF8480;
  color: white;
  border-radius: 13px;
  display: block;
  border: none;
  box-sizing: border-box;
}

/* styling for input fields and button */
.calculate-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

/* make divs take up all available space */
.calculate-form div {
  flex-grow: 1;
}

/* making icons aligned with the rest of the form */
.social {
  display: flex;
  justify-content: space-evenly;
}

/* making hours take up less space than city */
.calculate div:nth-child(1) {
  flex-grow: 1;
}

.calculate div:nth-child(2) {
  flex-grow: 3;
}

/* margin to keep space between input fields */
.calculate div {
  margin-right: 0.3rem;
}

/* no margin before button */
.calculate div:nth-child(2) {
  margin-right: 0;
}

/* padding between icons */
.social svg {
  padding: 1rem;
}

/* button takes up 100% */
.call-to-calculate {
  width: 100%;
}

/* ---------------------------------
          Tablet Styling 
------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

  /* change margins for tablet for each section*/
  .logo {
    margin: 1.5rem 5rem 3rem;
  }

  .banner {
    margin: 1.5rem 5rem 3rem;
  }

  .scooter {
    margin: 1.5rem 5rem 3rem;
  }

  .footer-content {
    margin: 1.5rem 5rem 3rem;
  }

  .apply {
    margin: 1.6rem 5rem 3rem;
  }

  /* FOOTER */
  /* changing position of form and calculate button */
  .calculate form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* overwriting margin given for apply now form inputs */
  input[type=text]#hours,
  input[type=text]#city {
    margin-bottom: 0;
    padding: 0.6rem 1rem 0.6rem;
  }

  /* margin to keep space between input fields */
  .calculate div {
    margin-right: 0.5rem;
  }

  /* overwriting previous style to have space between input field and button */
  .calculate div:nth-child(2) {
    margin-right: 0.5rem;
  }

  /* changing position of icons */
  .social {
    justify-content: center;
  }
}

/* --------------------------
      Desktop Styles       
---------------------------- */

@media screen and (min-width: 1024px) {

  /* disabling img to add it as background */
  .scooter {
    display: none;
    margin: 0;
  }

  /* changing position of sections and adding background img */
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-image: url(/images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-size: 86% 86%;
    background-position: center;
    margin-bottom: 5.5rem;
  }

  /* grid column to keep banner left */
  .banner {
    grid-column: 1 / 2;
  }

  /* grid column to keep form right */
  .apply {
    grid-column: 3 / 4;
  }

  /* FOOTER */
  /* repositioning footer items */
  .footer-content {
    display: flex;
  }

  /* keep icons to the right */
  .social {
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }

  /* changing icon order */
  .social svg:nth-child(2) {
    order: -2;
  }

  .social svg:nth-child(3) {
    order: -1;
  }

}