/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------------------
       Custom Styles            
-------------------------------- */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}
body {
    line-height: 1.5;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    line-height: normal;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
h1 {
    font-size: 5.063rem;
  }
  
h2 {
    font-size: 3.375rem;
  }
  
h3 {
    font-size: 2.25rem;
  }
  
h4 {
    font-size: 1.5rem;
  }
  
h5 {
    font-size: 1rem;
  } 

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* MOBILE STYLES */
/* centering the page contents */
.container {
    margin: 0 auto;
}

.logo {
    max-width: 115px;
    margin: 1.5rem 2.3rem 1.5rem;
}
/* margins for h1 p */
.banner {
  margin: 1.5rem 2.3rem 1.5rem;
}
/* margins for main img */
.scooter {
  margin: 1.5rem 2.3rem 1.5rem;
}

/* form styling */
/* making form drop shadow & rounded corners */
.apply {
    border-radius: 15px;
    margin: 1.5rem 2.3rem 3rem;
    padding: 1.5rem;
    box-shadow: 9px 15px 20px rgb(194, 191, 191);
}
/* no labels for form items */
.label {
    display: none;
}
/* styling apply now form items */
input[type=text],[type=email], [type=tel] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 15px;
    background-color: #F4F4F5;
    border-style: none;
}
.checkbox{
    margin-bottom: 0.5rem;
}

/* call to action */
/* changing style of a tag to make a button with rounded corners */
.call-to-drive {
    text-align: center;
    padding: 1rem;
    background-color: #57EEAB;
    border-radius: 10px;
    
}
.call-to-drive a {
    text-transform: uppercase;
    font-weight: bold;
    color: #333131;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

/* change color and hyperlink "Check application later" */
#check {
    color: #FF8480;
}

/* -------------------- FOOTER ------------------- */
.site-footer {
    background-color: #FFFD8C;
}

/* using flex to make form fit */
.footer-content {
  display: grid;
  margin: 2rem 2.3rem 2rem;
  padding: 2rem 0 2rem;
}

/* call to action */
.call-to-calculate a {
  text-align: center;
  text-transform: uppercase;
  padding: 0.4rem;
  background-color: #FF8480;
  color: white;
  border-radius: 10px;
  display: block;  
}
.social svg{
    padding: 0.5rem;
}
/* making icons aligned with the rest of the form */
.social {
  display: flex;
}
.social svg {
  flex-grow: 1;
}
/* fixing calculate button */
.calculate {
  display: grid;
}







/* tablet styling */
/* @media screen and (min-width: 768px) and (max-width: 1024px) {
  /* footer */
  /* .calculate input[type=text],
  .call-to-calculate a {
 
  }
}  */ 